



.questionScreen__answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 



.questionScreen__buttons {
  display: flex;
  justify-content: space-between;
}
.questionScreen {
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}
.bg-success-soft {
  background-color: #d4edda !important; /* Un verde más suave */
}

.bg-danger-soft {
  background-color: #f8d7da !important; /* Un rojo más suave */
}

@keyframes blink {
  0%   {background-color: #d4edda;}
  50%  {background-color: transparent;}
  100% {background-color: #d4edda;}
}

.blink {
  animation: blink 1s linear infinite;
}

.row {
  display: flex;
}

.help-panel {
  width: 40%;
  /* Otras propiedades del estilo del panel de ayuda... */
}
