

.questionScreen__header {
  /* Aplica los estilos que necesites para el encabezado aquí */
}

.questionScreen__answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionScreen__answerButton {
  /* Aplica los estilos que necesites para los botones de respuestas aquí */
}

.questionScreen__correction {
  /* Aplica los estilos que necesites para la corrección aquí */
}

.questionScreen__buttons {
  display: flex;
  justify-content: space-between;
}
.questionScreen {
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}
